@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
$dark-mode-background: hsl(207, 26%, 17%);
$dark-mode-body-background: hsl(209, 23%, 22%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-background: hsl(0, 0%, 98%);
$dark-text-light-element: hsl(0, 0%, 100%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}
@mixin container {
	max-width: 90%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	place-items: center;
	margin: 0 auto 0px auto;
	padding: 20px 0;
}

body {
	background-color: $light-mode-background;
}
header {
	background-color: $dark-text-light-element;
	box-shadow: 0px 3px 1px hsl(0, 0%, 90%);
	.container {
		@include container();

		button {
			background: none;
			display: flex;
			align-content: center;
			padding: 10px;
			border: none;
			gap: 10px;
			cursor: pointer;
			img {
				width: 2rem;
			}
		}
	}
}

section {
	.container {
		.inputs-cont {
			place-items: center;
			@include container();
			input[name="search"] {
				width: 300px;
				padding: 15px 10px;
				border: none;
				border-radius: 5px;
				box-shadow: 0 0 7px hsl(0, 0%, 70%);
			}

			select {
				padding: 15px 30px;
				border: none;
				border-radius: 5px;
				box-shadow: 0 0 7px hsl(0, 0%, 70%);
			}
		}

		#countries {
			display: flex;
			flex-wrap: wrap;
			max-width: 90vw;
			margin: 0 auto;
			justify-content: space-evenly;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;

			.card {
				height: 350;
				background-color: $dark-text-light-element;
				box-shadow: 2px 1px 10px hsl(0, 0%, 90%);
				padding-bottom: 30px;
				width: 300px;
				border-radius: 10px;
				img {
					border-radius: 10px 10px 0px 0px;
					width: 300px;
					height: 200px;
				}
				.country_info {
					padding: 15px;
					.country_name {
						font-size: 1.5rem;
						font-weight: 800;
						text-decoration: none;
						color: black;
						margin: 10px 0 8px 0;
					}

					.population {
						font-weight: 600;
						color: $light-mode-text;
					}

					.region {
						font-weight: 600;
						color: $light-mode-text;
					}

					.capital {
						font-weight: 600;
						color: $light-mode-text;
					}
				}
			}
		}
		#pagination {
			display: flex;
			max-width: 90%;
			justify-content: center;
			margin: 20px auto 0 auto;
			gap: 5px;
			button {
				padding: 10px;
				background: none;
				cursor: pointer;
				outline: none;
				border: none;
				border-radius: 5px;
				background-color: hsl(0, 0%, 85%);
				img {
					fill: white;
				}
			}
		}
	}
}

.active {
	background: cyan !important ;
}

.dark-mode-bg {
	background: $dark-mode-background !important;
	color: white;
	box-shadow: none !important;
}

.dark-btn {
	color: white;
	box-shadow: none;
}

.white-dark-mode-img {
	filter: invert(100%) sepia(50%) saturate(1352%) hue-rotate(180deg)
		brightness(119%) contrast(119%);
}

.dark-bg {
	background: $dark-mode-body-background !important;
	box-shadow: none;
}

.dark-p-btn {
	background: $dark-mode-background !important;
	color: white;
}

.white {
	color: white !important;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 100px auto 0 auto;
	width: 90%;
	gap: 50px;
	.back-btn {
		display: flex;
		gap: 10px;
		align-items: center;
		cursor: pointer;
		padding: 10px 20px;
		background: none;
		border: none;
		box-shadow: 0 0 7px hsl(0, 0%, 70%);
	}
	.details-container {
		display: flex;
		justify-content: space-between;

		flex-wrap: wrap;
		width: 100%;
		.details-flag {
			img {
				width: 40vw;
			}
		}

		.details-info-container {
			padding: 20px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			width: 50%;
			gap: 30px;
			.details-info {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 40px;
			}
			.details-border-countries-container {
				display: flex;
				gap: 40px;
				flex-wrap: wrap;
				.details-border-countries {
					display: flex;
					flex-wrap: wrap;
					gap: 30px;
					p {
						font-size: 1.1rem;
						box-shadow: 0px 0px 3px $light-mode-input;
						padding: 5px 15px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1111px) {
	.details {
		.details-container {
			justify-content: center;
			.details-flag {
				img {
					width: 50vw;
				}
			}
			.details-info-container {
				width: 100%;
				align-content: center;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.details {
		.details-container {
			justify-content: center;

			.details-flag {
				img {
					width: 70vw;
				}
			}
		}
	}
}
