@use "../abstracts/colors/colors" as *;

.details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 50px auto 0 auto;
	width: 90%;
	gap: 50px;
	.back-btn {
		display: flex;
		gap: 10px;
		align-items: center;
		cursor: pointer;
		padding: 10px 20px;
		background: none;
		border: none;
		box-shadow: 0 0 7px hsl(0, 0%, 70%);
	}
	.details-container {
		display: flex;
		justify-content: space-between;	
		flex-wrap: wrap;
		width: 100%;
		.details-flag {
			img {
				width: 40vw;
			}
		}

		.details-info-container {
			padding: 20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			flex-direction: column;
			width: 50%;

			.details-info {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 40px;
			}
			.details-border-countries-container {
				display: flex;
				gap: 40px;
				flex-wrap: wrap;
				.details-border-countries {
					display: flex;
					flex-wrap: wrap;
					gap: 30px;
					a {
						font-size: 1.1rem;
						box-shadow: 0px 0px 3px $light-mode-input;
						padding: 5px 15px;
						color: black;
						text-decoration: none;
						&:hover{
							outline: 1px solid black;	
						}
					}
				}
			}
		}
	}
}